<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.maven.ide.eclipse.projectConfigurators">
      <configurator
            class="org.maven.ide.eclipse.wtp.WTPProjectConfigurator"
            id="org.maven.ide.eclipse.configuration.wtp.configurator"
            name="WTP"
            priority="100">
      </configurator>
   </extension>
   <extension
         point="org.maven.ide.eclipse.classpathConfiguratorFactories">
      <classpathConfiguratorFactory
            class="org.maven.ide.eclipse.wtp.WTPClasspathConfiguratorFactory"
            id="org.maven.ide.eclipse.configuration.wtp.classpathConfiguratorFactory">
      </classpathConfiguratorFactory>
   </extension>

</plugin>
